<h2> Details of {{ title }} </h2>

<h3> by {{ author.firstName }} {{ author.lastName }} </h3>

<p> The book written by {{ author.nationality }} writer details: </p>
<p> {{ description }} </p>
<p>Rating: {{ rating }} </p>