<h2> Details page: {{ title }} </h2>

<hr>

<p>Written by: <b> {{ author }} </b></p>

<p>Rating: <b> {{ rating }} </b></p>

<p> {{ description }} </p>

<br>

<a href="/books/{{_id}}/edit"> Edit this book </a>


<br>
<br><br>



<a href="/books"> Back to book list </a>
